---
layout: default
---

<div class="home">

    <h1>投稿一覧</h1>
    {% for post in paginator.posts %}
    <section>
        <div class="article">
            <header>
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            </header>
            <div class="post-meta">
                <span class="post-date">{{ post.date | date: "%Y年%m月%d日" }}</span>
            </div>
        </div>
    </section>
    {% endfor %}
    <!-- Pagination links -->
    <nav>
        <div class="pagination">
            {% if paginator.previous_page %}
            <a href="/page/{{ paginator.previous_page }}/" class="previous">新しい記事へ</a>
            {% endif %}
            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
            <a href="/page/{{ paginator.next_page }}/" class="next" rel="next">古い記事へ</a>
            {% endif %}
        </div>
    </nav>
</div>
