---
layout: default
---
{% capture date_format %}%Y{% t date.year %}%m{% t date.month %}%d{% t date.day %}{% endcapture %}

<div class="home">

    <h1>{% t titles.article %}</h1>
    {% for post in paginator.posts %}
    <section>
        <div class="article">
            <header>
                <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            </header>
            <p>{{ post.content | markdownify | strip_html  | truncate: 120}}</p>
            <div class="post-meta">
                <span class="post-date">{{ post.date | date: date_format }}</span>
            </div>
        </div>
    </section>
    {% endfor %}
    <!-- Pagination links -->
    <nav>
        <div class="pagination">
            {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                <a href="{{ site.baseurl }}/" class="previous">{% t pagination.prev %}</a>
                {% else %}
                <a href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/" class="previous">{% t pagination.prev %}</a>
                {% endif %}
            {% endif %}
            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
            <a href="{{ site.baseurl }}/page/{{ paginator.next_page }}/" class="next" rel="next">{% t pagination.next %}</a>
            {% endif %}
        </div>
    </nav>
</div>
