<div class="page-sidebar">
    <div class="profile">
        <a href="{{ site.baseurl }}/about/" title="About"><img src="/public/img/azu.png" alt="Profile"></a>

        <h2><a href="{{ site.baseurl }}/about/" title="About">azu</a></h2>
    </div>
    {% capture rss_url %}{{site.url}}{{ site.baseurl }}/rss/{% endcapture %}
    <div class="social-icons">
        <a class="social-icon__twitter" href="http://twitter.com/azu_re" title="Twitter">
            <img src="/public/svg/twitter.svg" alt="twitter">
        </a>
        <a class="social-icon__github" href="https://github.com/jser" title="GitHub">
            <img src="/public/svg/github.svg" alt="GitHub">
        </a>
        <a class="social-icon__rss" href="{{ rss_url }}" title="RSS Feed">
            <img src="/public/svg/feed.svg" alt="RSS">
        </a>
        <a class="social-icon__feedly" href='http://cloud.feedly.com/#subscription%2Ffeed%2F{{ rss_url | uri_escape }}'
           target='blank'>
            <img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-square-flat-green_2x.png'
                 alt='follow us in feedly' width='28' height='28'></a>
    </div>

    <nav>
        <div class="search-bar">
            <div class="search-and-submit">
                <form class="search-box" method="get" action="https://www.google.co.jp/search">
                    <input type="search" name="q" placeholder="Enter Search"/>
                    <input type="hidden" name="q" value="site:jser.info">
                    <button type="submit">
                        <span class="drawic drawic-search"></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="side-menu">
            <h1>{% t titles.page %}</h1>
            <ul>
                {% for page in site.pages %}
                {% if page.title %}
                <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="side-menu">
            <h1>{% t titles.newest %}</h1>
            <ul>
                {% for post in site.posts limit:8 %}
                {% if post.title %}
                <li><a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
