@charset "UTF-8";

@import "bourbon/bourbon";
@import 'neat/neat';

// bourbon config
$max-width: 95%;
// 500px以下でbreakする
$mobile: new-breakpoint(max-width 500px 4);

// import our complement

//debug
* {
  outline: 2px dotted red
}

* * {
  outline: 2px dotted green
}

* * * {
  outline: 2px dotted orange
}

.content-wrapper {
  @include outer-container;
}

.page-content {
  @include span-columns(8);
  @include media($mobile) {
    @include fill-parent;
  }
}

.page-sidebar {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(3);
  }
}

