.global-header {
  margin: 0px;
  color: #333333;
  text-align: center;
  padding: 2em 2em 0px;
  border-bottom: 1px solid #eeeeee; }
  .global-header h1 {
    margin: 0 0px;
    font-size: 3em;
    font-weight: 300; }
    .global-header h1 a {
      text-decoration: none; }
  .global-header h2 {
    font-weight: 300;
    color: #cccccc;
    padding: 0px;
    margin-top: 0px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.content-wrapper {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto; }
  .content-wrapper:after {
    content: "";
    display: table;
    clear: both; }

.page-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .page-content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .page-content {
      width: 100%; } }

.page-sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .page-sidebar:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .page-sidebar {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 73.14426%; }
      .page-sidebar:last-child {
        margin-right: 0; } }
