<div class="page-footer">
    <div class="copyright-footer">
        <div class="copyright">
            <p>JSer.info is maintained by @<a href="https://twitter.com/azu_re"
                                              title="azu (azu_re) on Twitter">azu_re</a>.
            </p>
        </div>
        <div class="cc-license">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="クリエイティブ・コモンズ・ライセンス"
                                                                                     style="border-width:0"
                                                                                     src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a>
        </div>
    </div>
</div>