<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q66PHF829Y"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-Q66PHF829Y');
</script>
<script>
    /*
    ga-on="click" がついている要素がクリックされたら、
    イベントをトリガーして、Google Analytics に送信する
    @example
    ga-on="click"
    ga-event-name="join_slack"
    @see https://developers.google.com/analytics/devguides/collection/ga4/tag-guide?hl=ja#custom_events
     */
    document.addEventListener('DOMContentLoaded', function () {
        const gaOnElements = document.querySelectorAll('[ga-on="click"]');
        gaOnElements.forEach(function (element) {
            element.addEventListener("click", function () {
                const eventName = element.getAttribute('ga-event-name');
                gtag('event', eventName);
            });
        });
</script>
