<script async src='//www.google-analytics.com/analytics.js'></script>
<script async>
    window.ga = window.ga || function () {
                (ga.q = ga.q || []).push(arguments)
            };
    ga.l = +new Date;
    ga('create', 'UA-2184335-9', 'auto');
    ga('send', 'pageview');
    document.addEventListener('DOMContentLoaded', function () {
        var links = Array.prototype.slice.call(document.querySelectorAll("a[href^='http']:not([href*='jser.info'])"));
        // add _blank and track
        links.forEach(function (link) {
            if (!link.target) {
                link.target = "_blank";
            }
            link.addEventListener("click", function (event) {
                var elementTarget = event.target;
                var url = elementTarget.href;
                ga('send', 'event', 'outbound', 'click', url);
            });
        });
    });
</script>
