<script async src='https://www.google-analytics.com/analytics.js'></script>
<script async src='/public/js/autotrack.custom.js'></script>
<script async>
    window.ga = window.ga || function () {
                (ga.q = ga.q || []).push(arguments)
            };
    ga.l = +new Date;
    ga('create', 'UA-2184335-9', 'auto');
    ga('send', 'pageview');
    // autotrack plugin
    ga('require', 'eventTracker');
    ga('require', 'outboundLinkTracker');
    ga('require', 'maxScrollTracker');
    ga('require', 'pageVisibilityTracker');
    // Add _blank
    document.addEventListener('DOMContentLoaded', function () {
        var links = Array.prototype.slice.call(document.querySelectorAll("a[href^='http']:not([href*='jser.info'])"));
        // add _blank and track
        links.forEach(function (link) {
            if (!link.target) {
                link.target = "_blank";
            }
        });
    });
</script>
<script type="text/javascript">(function(){var t,e,n,r,a;for(t=function(){var t;return t=[],function(){var e,n,r,a;for(n=["init","start","stop","user","track","action","event","goal","chat","buy","page","view","admin","group","alias","ready","link","form","click","submit","cmd","emit","on","send","css","js","style","option","get","set","collection"],e=function(e){return function(){return t.push([e].concat(Array.prototype.slice.call(arguments,0)))}},r=0,a=[];r<n.length;)t[n[r]]=e(n[r]),a.push(r++);return a}(),t.init=function(e,n){var r,a;return t.api_key=e,t.options=n||{},a=document.createElement("script"),a.type="text/javascript",a.async=!0,a.charset="utf-8",a.src=t.options.tracker_url||"https://static.karte.io/libs/tracker.js",r=document.getElementsByTagName("script")[0],r.parentNode.insertBefore(a,r)},t},r=window.karte_tracker_names||["tracker"],e=0,n=r.length;n>e;e++)a=r[e],window[a]||(window[a]=t());tracker.init("a2d22604ec1d1c6d9d53d9d3eb87961d")}).call(this);</script>
