<div class="global-header">
    <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h2>{% t description %}</h2>
    <nav class="lang-menu">
        <ul>
            <li><a href="{{ site.baseurl_root }}/" data-alt-href="{{ page.url | replace:'index.html','' }}">{% t global.japanese %}</a></li>
            <li><a href="{{ site.baseurl_root }}/kr/" data-alt-href="/kr{{ page.url | replace:'index.html','' }}">{% t global.korean %}</a></li>
        </ul>
    </nav>
</div>
