<div class="global-header">
    <h1 class="site-title"><a href="{{ site.baseurl }}/"><img alt="{{ site.title }}" src="/public/img/logo.png" /></a></h1>
    <h2 class="site-description">{% t description %}</h2>
    <nav class="lang-menu">
        <ul>
            <li><a href="{{ site.baseurl_root }}/" data-alt-href="{{ page.url | replace:'index.html','' }}">{% t global.japanese %}</a></li>
            <li><a href="{{ site.baseurl_root }}/ko/" data-alt-href="/ko{{ page.url | replace:'index.html','' }}">{% t global.korean %}</a></li>
        </ul>
        {% if site.lang == "ja" %}
        <div>
            <p>リアルタイム版 => <a href="http://realtime.jser.info/" title="Realtime JSer.info">Realtime JSer.info</a></p>
        </div>
        {% endif %}
    </nav>
</div>
