{% if site.lang == "ja" %}
<h3 class="inline-support">JSer.infoをサポートするには</h3>
<ul>
    <li>😘 知り合いにJSer.infoをおすすめする</li>
    <li>❤️ GitHub Sponsorsで<a href="https://github.com/sponsors/azu">@azuのスポンサー</a>になる/<a
            href="https://jser.info/sponsor/">JSer.info Sponsors</a></li>
    <li>🐦 Twitterで<a href="https://twitter.com/jser_info">@jser_info</a>をフォローする</li>
    <li>🔁 <a
            href="https://twitter.com/search?q=from%3Aazu_re%20jser.info&src=typed_query&f=live">JSer.infoについての最新のTweet</a>をRetweetする
    </li>
</ul>
{% else %}
<h3 class="inline-support">To support JSer.info</h3>
<ul>
    <li>😘 Recommend the website to your friends!</li>
    <li>❤️ Support <a href="https://github.com/sponsors/azu">@azu on GitHub Sponsors</a>/<a
            href="https://jser.info/sponsor/">JSer.info Sponsors</a></li>
    <li>🐦 Follow <a href="https://twitter.com/jser_info">@jser_info on Twitter</a></li>
</ul>
{% endif %}
