<style>
    @media screen and (max-width: 1000px) and (max-height: 800px) {
        .ping-show-button {
            display: none !important;
        }
    }

    .ping-show-button {
        color: #000000;
        z-index: 100;
        position: fixed;
        bottom: 0;
        right: 10px;
        padding: 1em 3em;
        background-color: #ffffff;
        border: 1px solid #868686;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<a 
    class="ping-show-button"
    href="https://join.slack.com/t/jserinfo/shared_invite/zt-g2shzp7o-f_tj6OaphCAFw5Qlt2Jw0A"
    ga-on="click"
    ga-event-category="Slack"
    ga-event-action="click"
><img src="/public/svg/slack.svg" alt="" width="28" height="28" /><span>JSer.info Slackに参加する</span></a>
