<style>
    @media screen and (max-width: 800px) and (max-height: 800px) {
        .ping-show-button {
            display: none;
        }
    }

    .ping-show-button {
        color: #fff;
        z-index: 100;
        position: fixed;
        bottom: 0;
        right: 10px;
        padding: 1em 3em;
        background-color: #36bc98;
        border: 0;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
</style>
<a class="ping-show-button" href="https://jser.info/ping/">記事を紹介する</a>