<link rel="stylesheet" href="https://unpkg.com/dialog-polyfill@0.4.4/dialog-polyfill.css">
<script src="https://unpkg.com/dialog-polyfill@0.4.4"></script>
<style>
    .ping-show-button {
        color: #fff;
        z-index: 100;
        position: fixed;
        bottom: 0;
        right: 180px;
        padding: 1em 3em;
        background-color: #36bc98;
        border: 0;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        cursor: hand;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }

    .ping-close-button {
        position: absolute;
        color: #fff;
        background-color: #bc3f38;
        font-size: 14px;
        padding: 0.2em 0.5em;
        border-radius: 0 0 0 .5em;
        border: 0;
        right: 0;
        top: 0;
    }
</style>
<dialog id="js-jser-ping-dialog">
    <button id="js-jser-ping-close" class="ping-close-button">閉じる✗</button>
    <iframe width="500"
            height="500"
            src="https://jser.info/ping/"
            scrolling="no"
            frameborder="no"
            style="border: 0 none transparent;display: block;"
    ></iframe>
</dialog>
<button id="js-jser-ping-open" class="ping-show-button">記事を紹介する</button>
<script>
    (function() {
        var dialog = document.querySelector("#js-jser-ping-dialog");
        dialogPolyfill.registerDialog(dialog);
        document.querySelector('#js-jser-ping-open').onclick = function() {
            dialog.showModal();
        };
        document.querySelector('#js-jser-ping-close').onclick = function() {
            dialog.close();
        };
    })();
</script>