<div class="page-sidebar">
    <p>sidebar</p>
    <nav>
        <div class="side-menu">
            <h1>ページ</h1>
            <ul>
                {% for page in site.pages %}
                {% if page.title %}
                <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
    <nav>
        <div class="side-menu">
            <h1>最近の投稿</h1>
            <ul>
                {% for post in site.posts limit:5 %}
                {% if post.title %}
                <li><a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>