<div class="page-sidebar">
    <div class="profile">
        <a href="https://twitter.com/azu_re"><img src="/public/img/azu.png" alt="Profile"></a>

        <h2><a href="https://twitter.com/azu_re">azu</a></h2>
    </div>
    {% capture rss_url %}{{site.url}}{{ site.baseurl }}/rss/{% endcapture %}
    <div class="social-icons">
        <a class="social-icon__twitter" href="https://twitter.com/jser_info" title="Twitter">
            <img src="/public/svg/twitter.svg" alt="twitter">
        </a>
        <a class="social-icon__github" href="https://github.com/jser" title="GitHub">
            <img src="/public/svg/github.svg" alt="GitHub">
        </a>
        <a class="social-icon__rss" href="{{ rss_url }}" title="RSS Feed">
            <img src="/public/svg/feed.svg" alt="RSS">
        </a>
        <a class="social-icon__feedly" href='https://feedly.com/i/subscription/feed%2F{{ rss_url | uri_escape }}'
            target='blank'>
            <img id='feedlyFollow' src='https://s3.feedly.com/img/follows/feedly-follow-square-flat-green_2x.png' alt='follow us in feedly'
                width='28' height='28'></a>
    </div>
    {% if site.lang == "ja" %}
    <div class="slack-bar">
        <a class="social-icon__slack" href='https://get.slack.help/hc/ja/articles/218688467-Slack-%E3%81%AB-RSS-%E3%83%95%E3%82%A3%E3%83%BC%E3%83%89%E3%82%92%E8%BF%BD%E5%8A%A0%E3%81%99%E3%82%8B'
            target='blank'>
            <img src="/public/svg/slack.svg" alt="Slack" width="50" height="50"/>
            SlackにRSSを追加する
        </a>
    </div>
    {% endif %}
    <nav>
        <div class="search-bar">
            <div class="search-and-submit">
                <form class="search-box" method="get" action="https://www.google.co.jp/search">
                    <input type="search" name="q" placeholder="Enter Search" />
                    <input type="hidden" name="q" value="site:jser.info">
                    <button type="submit">
                        <span class="drawic drawic-search"></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="side-menu">
            <h1>{% t titles.page %}</h1>
            <ul>
                <li><a class="page-link" href="{{ site.url }}/about/">{% t titles.about %}</a></li>
                <li><a class="page-link" href="{{ site.url }}/support/">Support</a></li>
            </ul>
        </div>
        <div class="side-menu">
            <h1>{% t titles.newest %}</h1>
            <ul>
                {% for post in site.posts limit:8 %}
                {% if post.title %}
                <li><a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>