<ul>
    <!-- Feedly -->
    {% capture rss_url %}{{site.url}}{{ site.baseurl }}/rss/{% endcapture %}
    <li>
      <a href='http://cloud.feedly.com/#subscription%2Ffeed%2F{{ rss_url | uri_escape }}'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-medium_2x.png' alt='follow us in feedly' width='71' height='28'></a>
    </li>
    <!-- Twitter -->
    <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="jser_info">Tweet</a>
    </li>
    <!-- Hatena -->
    <li>
        <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button"
           data-hatena-bookmark-layout="standard-balloon"
           data-hatena-bookmark-url="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
            <img src="http://b.st-hatena.com/images/entry-button/button-only.gif"
                 alt="はてなブックマークに追加" width="20" height="20"
                 style="border: none">
        </a>
    </li>
    <!-- Pocket -->
    <li>
        <a href="https://getpocket.com/save" class="pocket-btn" data-lang="ja"
           data-save-url="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
           data-pocket-count="horizontal"
           data-pocket-align="left">Pocket</a>
    </li>
</ul>
