<h3 class="sponsors-title">JSer.info Sponsors</h3>
<p class="sponsors-description">
    <b>JSer.info Sponsors</b>は<a href="https://github.com/sponsors/azu" aria-label="Sponsor @azu on GitHub">GitHub Sponsors</a>としてJSer.infoを支援してくれているひとたちです。</p>
<div class="sponsors-list">
    <!-- Sponsor for https://github.com/sponsors/azu -->
    <div class="sponsors-listItem">
        <a href="https://twitter.com/cybozu" title="Cybozu, Inc." target="_blank" rel="noopener">
            <img src="https://github.com/cybozu-sponsorship.png" alt="" width="64" height="64" loading="lazy"/>
        </a>
    </div>
</div>
