// dialog要素のshadow
dialog {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3) !important;
  max-width: 100%;
  max-height: 100%;
  position: fixed !important;
  top: 50%;
  transform: translate(0, -50%);
}