@import "../layout/break-point";

// はみ出るのを防止する
.post-content {
  a, p, code, strong {
    word-wrap: break-word;
  }
  img {
    max-width: 100%;
  }

}

@include media($mobile) {
  h1 {
    font-size: 1.5em;
  }
}
