@import "../core/color-map";
@import "../vendor/bourbon/bourbon";

// 紹介記事のスタイルを当てたもの
.post-content {
  h1, h1 + p, h2, h2 + p {
    margin: 0;
    padding-left: 1rem;
    border-left: 1px solid $main-sub-color;
  }
}

// list版
.post-content {
  // ジャンルの区切り
  .site-genre {
    margin: 1.5em 0;
    padding-top: 10px;
    border-top: 3px solid $accent-color;
  }
  // 各ジャンルのものだけに限定
  hr {
    border: 0;
    height: 1px;
    margin: 10px 2em;
    @include linear-gradient(rgb(220, 220, 220), rgb(255, 255, 255));
  }
  .site-genre + ul {
    // border ----
    & > li {
      padding-bottom: 2em;
    }
    & > li:not(:last-child) {
      border-bottom: 1px dotted $main-sub-color;
    }
    // title
    padding-left: 0;
    list-style: none;
    h1 {
      color: #000;
      font-size: 100%;
      margin: 1em 0 0;
      // meta
      & + ul {
        padding-left: 0;
        list-style: none;
        // tagのmarginを消す
        .jser-tags {
          margin: 0;
        }
      }
    }
    // tagなしのmargin
    li > h1 + p {
      margin: 0;
    }

  }
}