@import "../core/color-map";

// blockquote
.post-content blockquote {
  .jser-sitelink {
    margin: 0;
  }
  footer cite {
    font-style: normal;
  }
}

/* tags */
$tagImage: url("/public/img/icon-tags.png");
.jser-tag-mark {
  display: none;
}

.jser-tag-paragraph {
  padding-left: 20px;
  background: $tagImage no-repeat left top;
}

.jser-tag {
  color: #aaaaaa;
}

.jser-tags {
  padding: 3px 0 0;
  border-left: 1px #bababa solid; /* | blockquote */
  margin-bottom: 0.5em;
}

.jser-tag:after {
  content: ",";
}

.jser-tag:last-child:after {
  content: "";
}

.jser-tags img {
  margin-right: 5px;
  vertical-align: middle;
}

.jser-tag-icon {
  padding-left: 18px;
  background: $tagImage no-repeat left center;
}

.jser-sitelink {

}

.jser-sitelink strong {
  font-size: 1em;
}