@import "../core/color-map";
@import "../vendor/bourbon/bourbon";
@import "../core/drawic-core";

// 紹介記事のスタイルを当てたもの
.post-content {
  .site-genre {
    margin: 1.5em 0;
    padding-top: 10px;
    border-bottom: 3px solid $accent-color;
    text-shadow: 1px 1px 0 darken($accent-color, 30);
    font-weight: 300;
  }
  hr {
    border: 0;
    height: 1px;
    margin: 1.5em 2em;
    @include linear-gradient(rgb(220, 220, 220), rgb(255, 255, 255));
  }
  /*

  hr

    h2 ( TITLE )
    p  > a ( URL )

  p
  */
  p {
    color: #333;
  }
  hr + h2, hr + h2 + p {
    color: #000;
    padding-left: 10px;
    border-left: 1px solid $main-sub-color;
    /*
    | Title
    | URL
    とするためのmarginを消す
    */
    margin: 0;
  }
  // Title
  hr + h2 {
    font-size: 1.3em;
  }
  // URL
  hr + h2 + p {
    font-size: 1.1em;
    a {
      text-decoration: none;
      @extend .drawic, .drawic-hyperlink;
    }
  }
  // tags icon
  .jser-tags {
    color: #888;
  }
  .jser-tag-icon {
    @extend .drawic, .drawic-tag;
    &::before {
      padding-right: 0.2em;
    }
  }
  // それぞれのタグの間に,を入れる
  .jser-tag:after {
    content: ",";
  }
  .jser-tag:last-child:after {
    content: "";
  }
}
