@import "../core/color-map";

.post-header {
  margin-bottom: 2em;
  h1 {
    margin-bottom: 0;
  }
  .pre-post-toolbar {
    height: 24px;
    background-color: darken($base-color, 20);
  }
  .post-date {
    font-style: italic;
  }
}