@import "../core/color-map";
@import "../vendor/bourbon/bourbon";

.post-content {
  // 各ジャンルのものだけに限定
  hr {
    border: 0;
    height: 1px;
    margin: 10px 50px;
    @include linear-gradient(rgb(220, 220, 220), rgb(255, 255, 255));
  }
  .site-genre + ul {
    // border ----
    & > li {
      padding-bottom: 2em;
    }
    & > li:not(:last-child) {
      border-bottom: 1px dotted $main-sub-color;
    }
    // title
    padding-left: 0;
    list-style: none;
    h1 {
      color: #000;
      font-size: 100%;
      margin: 1em 0 0;
      // meta
      & + ul {
        padding-left: 0;
        list-style: none;
        // tagのmarginを消す
        .jser-tags {
          margin: 0;
        }
      }
    }
    // tagなしのmargin
    li > h1 + p {
      margin: 0;
    }

  }
}