@import "../core/color-map";

$toolbar-background-color: #98dce5;

.post-header {
  margin-bottom: 2em;
  h1 {
    margin-bottom: 0;
  }
  .pre-post-toolbar {
    background-color: $toolbar-background-color;
  }
  .post-date {
    font-style: italic;
  }
}

.post-post-toolbar {
  background-color: $toolbar-background-color;
}

.tags {
  li {
    display: inline;
  }
}