
.post-content code {
  padding: 0.2em 0;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.post-content code:before,
.post-content code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.post-content pre > code {
  color: #333;
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.post-content .highlight {
  margin-bottom: 16px;
}

.post-content .highlight pre,
.post-content pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.post-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.post-content pre {
  word-wrap: normal;
}

.post-content pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.post-content pre code:before,
.post-content pre code:after {
  content: normal;
}

.post-content .highlight {
  background: #ffffff;
}

.post-content .highlight .c {
  color: #999988;
  font-style: italic;
}

.post-content .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.post-content .highlight .k {
  font-weight: bold;
}

.post-content .highlight .o {
  font-weight: bold;
}

.post-content .highlight .cm {
  color: #999988;
  font-style: italic;
}

.post-content .highlight .cp {
  color: #999999;
  font-weight: bold;
}

.post-content .highlight .c1 {
  color: #999988;
  font-style: italic;
}

.post-content .highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

.post-content .highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

.post-content .highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

.post-content .highlight .ge {
  font-style: italic;
}

.post-content .highlight .gr {
  color: #aa0000;
}

.post-content .highlight .gh {
  color: #999999;
}

.post-content .highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

.post-content .highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

.post-content .highlight .go {
  color: #888888;
}

.post-content .highlight .gp {
  color: #555555;
}

.post-content .highlight .gs {
  font-weight: bold;
}

.post-content .highlight .gu {
  color: #800080;
  font-weight: bold;
}

.post-content .highlight .gt {
  color: #aa0000;
}

.post-content .highlight .kc {
  font-weight: bold;
}

.post-content .highlight .kd {
  font-weight: bold;
}

.post-content .highlight .kn {
  font-weight: bold;
}

.post-content .highlight .kp {
  font-weight: bold;
}

.post-content .highlight .kr {
  font-weight: bold;
}

.post-content .highlight .kt {
  color: #445588;
  font-weight: bold;
}

.post-content .highlight .m {
  color: #009999;
}

.post-content .highlight .s {
  color: #d14;
}

.post-content .highlight .n {
  color: #333333;
}

.post-content .highlight .na {
  color: #008080;
}

.post-content .highlight .nb {
  color: #0086B3;
}

.post-content .highlight .nc {
  color: #445588;
  font-weight: bold;
}

.post-content .highlight .no {
  color: #008080;
}

.post-content .highlight .ni {
  color: #800080;
}

.post-content .highlight .ne {
  color: #990000;
  font-weight: bold;
}

.post-content .highlight .nf {
  color: #990000;
  font-weight: bold;
}

.post-content .highlight .nn {
  color: #555555;
}

.post-content .highlight .nt {
  color: #000080;
}

.post-content .highlight .nv {
  color: #008080;
}

.post-content .highlight .ow {
  font-weight: bold;
}

.post-content .highlight .w {
  color: #bbbbbb;
}

.post-content .highlight .mf {
  color: #009999;
}

.post-content .highlight .mh {
  color: #009999;
}

.post-content .highlight .mi {
  color: #009999;
}

.post-content .highlight .mo {
  color: #009999;
}

.post-content .highlight .sb {
  color: #d14;
}

.post-content .highlight .sc {
  color: #d14;
}

.post-content .highlight .sd {
  color: #d14;
}

.post-content .highlight .s2 {
  color: #d14;
}

.post-content .highlight .se {
  color: #d14;
}

.post-content .highlight .sh {
  color: #d14;
}

.post-content .highlight .si {
  color: #d14;
}

.post-content .highlight .sx {
  color: #d14;
}

.post-content .highlight .sr {
  color: #009926;
}

.post-content .highlight .s1 {
  color: #d14;
}

.post-content .highlight .ss {
  color: #990073;
}

.post-content .highlight .bp {
  color: #999999;
}

.post-content .highlight .vc {
  color: #008080;
}

.post-content .highlight .vg {
  color: #008080;
}

.post-content .highlight .vi {
  color: #008080;
}

.post-content .highlight .il {
  color: #009999;
}

.post-content .highlight .gc {
  color: #999;
  background-color: #EAF2F5;
}