.global-header {
  margin: 0px;
  color: rgb(51, 51, 51);
  text-align: center;
  padding: 2em 2em 0px;
  h1 {
    margin: 0 0;
    font-size: 3em;
    font-weight: 300;
    a {
      text-decoration: none;
    }
  }

  h2 {
    font-weight: 300;
    color: rgb(204, 204, 204);
    padding: 0px;
    margin-top: 0px;
  }
}