@import "../core/color-map";

.global-header {
  margin: 0;
  color: rgb(51, 51, 51);
  text-align: center;
  padding: 2em 2em 0;
  background-color: $main-color;
  h1 {
    margin: 0 0;
    font-size: 3em;
    font-weight: 300;
    a {
      color: white;
      text-decoration: none;
      text-shadow: 1px 1px 3px white;
      &:hover {
        color: $main-sub-color;
      }
    }
  }

  h2 {
    font-weight: 300;
    color: $base-color;
    padding: 0;
    margin-top: 0;
  }

  .lang-menu {
    color: white;
    ul {
      padding: 0;
      margin: 0 0 25px 0;
      list-style: outside none none;
      li {
        display: inline-block;
        &:after {
          padding: 0 2px 0 5px;
          content: "|";
        }

        &:last-child:after {content: "";}
        a {color: white;}
      }
    }
  }
}
