@import "../core/color-map";

.global-header {
  margin: 0px;
  color: rgb(51, 51, 51);
  text-align: center;
  padding: 2em 2em 0px;
  background-color: $main-color;
  h1 {
    margin: 0 0;
    font-size: 3em;
    font-weight: 300;
    a {
      color: white;
      text-decoration: none;
    }
  }

  h2 {
    font-weight: 300;
    color: $base-color;
    padding: 0px;
    margin-top: 0px;
  }
}