// social icon
.social-icons {
  text-align: center;
  padding: 1em 0;

  a, img {
    width: 64px;
    height: 64px;
  }
  a {
    display: inline-block;
    text-decoration: none;

    &.social-icon__twitter {
      background: skyblue;
    }
    &.social-icon__github {
      background: black;
    }
    &.social-icon__rss {
      background: orange;
    }
    &.social-icon__feedly {
      background: white;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.svg-icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  img {
    width: 24px;
    height: 24px;
  }
}