// social icon
.slack-bar {
  details {
    padding-bottom: 16px;
  }

  details summary {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  details:not([open])>*:not(summary) {
    display: none !important;
  }

  p {
    font-size: 90%;
  }

  pre {
    padding: 12px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #ddd;
    border-radius: 6px;
  }

  img {
    width: 50px;
    height: 50px;
    fill: #fff;
  }
}

.social-icons {
  text-align: center;
  padding: 1em 0;

  a,
  img {
    width: 64px;
    height: 64px;
  }

  a {
    display: inline-block;
    text-decoration: none;

    &.social-icon__twitter {
      background: skyblue;
    }

    &.social-icon__github {
      background: black;
    }

    &.social-icon__rss {
      background: orange;
    }

    &.social-icon__feedly {
      background: white;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.svg-icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;

  img {
    width: 24px;
    height: 24px;
  }
}