@import "../layout/break-point";

.page-content {
  padding: 0 1em;
  @include media($mobile) {
    padding: 0 0.5em;
  }
  p {
    line-height: 1.3;
  }
  // コード
  code {
    font-size: 95%;
    padding: 0.15em 0.5em;
    color: #b1383e;
    background-color: #efefef;
    border-radius: 5px;
  }
}