@import "../layout/break-point";

.page-content {
  padding: 0 1em;
  @include media($mobile) {
    padding: 0 0.5em;
  }
  p {
    line-height: 1.3;
  }
  // コード
  code {
    color: #b1383e;
  }
}

// TOC用
.post-content-toc {
  background-color: #FFF;
  margin: 5px 0;
  padding: 10px 30px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}

.post-content-toc {
  .toc-entry.toc-h1 {
    margin-left: 0;
  }
  .toc-entry.toc-h2 {
    margin-left: 0.8em;
  }
  .toc-entry.toc-h3 {
    margin-left: 1.6em
  }
  .toc-entry.toc-h4 {
    display: none;
  }
  .toc-entry.toc-h5 {
    display: none;
  }
  .toc-entry.toc-h6 {
    display: none;
  }
}