.RelatedItemList--title {
  padding-left: 5px;
  border-left: 1px solid #ff6300;
}

.RelatedItem {
  margin-bottom: 1em;
}

.RelatedItem {
  h4 {
    color: #1A0DAB;
    margin: 0;
    font-size: 16px;
  }
  cite > a {
    font-size: 14px;
    color: #006621;
    font-style: normal;
  }
  p {
    font-size: 16px;
  }
}

.RelatedItem .RelatedItem--description {

}