@import "../core/color-map";

.page-sidebar {
  padding-left: 1em;
  ul {
    padding-left: 0;
    list-style: none;
  }
  li {
    padding: 0.5em 0;
    border-bottom: 1px dotted #000;
  }
  .side-menu {
    h1 {
      font-size: 150%;
      border-left: 3px solid $accent-color;
      padding-left: 0.5em;
    }
  }
}