$zenback-color: #7EC528;
.social-buttons {
  margin: 1em 0;
  border-bottom: 1px solid #333;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    vertical-align: top;
    overflow: visible;
  }
  .pocket-btn iframe {
    height: 20px !important;
  }
}

// https://twitter.com/azu_re/status/608780099228295169
// https://twitter.com/azu_re/status/608777333873336321
// iframeがはみ出す
.twitter-button-item iframe {
  width: 80px;
}

.post-content.social-buttons {
  border: 1px solid $zenback-color;
  margin: 0;
  padding: 1em;
}