$zenback-color: #7EC528;
.social-buttons {
  margin: 1em 0;
  border-bottom: 1px solid #333;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    height: 20px;
    overflow: visible;
  }
  .pocket-btn iframe {
    height: 20px !important;
  }
}

.post-content.social-buttons {
  border: 1px solid $zenback-color;
  margin: 0;
  padding: 1em;
}