$sponsors-color: #7EC528;
.sponsors {
  margin: 1em 0;
  border-bottom: 1px solid #333;
}

.post-content.sponsors {
  border: 1px solid $sponsors-color;
  margin: 0;
  padding: 1em;
}

.sponsors-title, .sponsors-description {
  text-align: center;
}

.sponsors-title {
  font-family: Geomanist, sans-serif;
  font-weight: 600;
  line-height: 1.4;
  color: #465e69;
  word-break: break-word;
}

.sponsors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}
.sponsors-listItem {
  padding: 0.5em;
}
