<!DOCTYPE html>
<html lang="{{site.lang}}">

{% include head.html %}

<body>
<header>
    <a href="https://github.com/jser/jser.github.io" class="github-ribbon">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
             src="/public/img/github-ribbon.png"
             alt="Fork me on GitHub"
             loading="lazy"
        >
    </a>
    {% include header.html %}
</header>
<div class="content-wrapper">
    <article>
        <div class="page-content">
            {{ content }}
        </div>
    </article>
    <aside>
        {% include sidebar.html %}
    </aside>
</div>
<footer>
    {% include footer.html %}
</footer>
{% include ping.html %}
</body>
</html>
