---
layout: default
---
<div class="post">
    <header>
        <div class="post-header">
            <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

            <div class="pre-post-toolbar">
                <span class="post-date">{{ page.date | date: "%Y年%m月%d日" }}</span>

                <span class="svg-icon"><img src="/public/svg/github.svg"/></span>
                {% include edit-on-github.html %}

                <span class="svg-icon"><img src="/public/svg/git.svg"/></span>
                {% include see-revision-on-github.html %}
            </div>

        </div>
        <div class="social-buttons">
            {% include social-boorkmark.html %}
        </div>
    </header>
    <article class="post-content">
        {{ content }}
    </article>

    <div class="post-post-toolbar">
        <span class="svg-icon"><img src="/public/svg/github.svg"/></span>
        <a class="btn edit-on-github"
           href="https://github.com/jser/jser.github.io/edit/master/{{page.path | cgi_escape}}"><span
                class="edit-on-github-label"></span>この記事へ修正リクエストをする</a>
        <nav class="tags"
             id="js-post-tags"
             data-post-tags='[{% for tag in page.tags %}"{{ tag }}"{% unless forloop.last %},{% endunless %}{% endfor %}]'>
            <span><span class="svg-icon"><img src="/public/svg/tag.svg"/></span>タグ:</span>
            <ul>
                {% for tag in page.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
<div class="social-buttons post-content">
    {% include social-boorkmark.html %}
</div>
<div class="disqus-embed" id="js-disqus-embed">
    <button class="comment-button" id="js-comment-button">コメントを表示</button>
</div>
<script type="text/javascript" src="{{ site.baseurl }}/public/js/show-disqus.js"></script>
<script>
    (function (w, d) {
        var s, e = d.getElementsByTagName("script")[0],
                a = function (u, f) {
                    if (!d.getElementById(f)) {
                        s = d.createElement("script");
                        s.async = true;
                        s.src = u;
                        if (f) {
                            s.id = f;
                        }
                        e.parentNode.insertBefore(s, e);
                    }
                };
        a("//b.st-hatena.com/js/bookmark_button_wo_al.js");
        a("//platform.twitter.com/widgets.js", "twitter-wjs");
        a("https://widgets.getpocket.com/v1/j/btn.js?v=1");
    })(window, document);
</script>