---
layout: default
---
<div class="post">

    <header>
        <div class="post-header">
            <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

            <div class="pre-post-toolbar">
                <span class="post-date">{{ page.date | date: "%Y年%m月%d日" }}</span>

                <span class="svg-icon"><img src="/public/svg/github.svg"/></span>
                {% include edit-on-github.html %}

                <span class="svg-icon"><img src="/public/svg/git.svg"/></span>
                {% include see-revision-on-github.html %}
            </div>

        </div>
    </header>

    <article class="post-content">
        {{ content }}
    </article>

</div>