@import "../core/color-map";
@import "break-point";

$weak-border-color: rgb(238, 238, 238);

.global-header {
  border-bottom: 1px solid $weak-border-color;
}

.page-content {
  border-right: 1px solid $weak-border-color;
}

.pagination {
  border-top: 1px solid $weak-border-color;
}

.page-footer {
  border-top: 1px solid $main-sub-color;
}

.page-sidebar {
  border-top: 1px solid $main-sub-color;
}