@import "break-point";
@import '../vendor/bourbon/bourbon';
@import '../vendor/neat/neat';

.content-wrapper {
  @include clearfix;
  margin: {
    left: auto;
    right: auto;
  }
  max-width: em(1280);
  @include media($mobile) {
    max-width: 98%;
  }
}

.page-content {
  @include span-columns(9);
  @include media($mobile) {
    width: 100%;
    box-sizing: border-box;
  }
}

.page-sidebar {
  @include span-columns(3);
  @include media($mobile) {
    width: 100%;
    box-sizing: border-box;
    padding-top: 1em;
  }
}

// mobileは非表示
@include media($mobile) {
  .github-ribbon {
    display: none;
  }
}
