name: Deploy
on:
  push:
    branches:
      - 'develop'
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0 # zizmor: ignore[artipacked]
        with:
          lfs: 'true'
      - name: Setup Node.js
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
        with:
          node-version: 18
      - name: Install
        run: yarn install
      - name: Test
        run: npm run test:ci
      - name: Build
        run: npm run build
      - name: Install Ruby
        uses: ruby/setup-ruby@708024e6c902387ab41de36e1669e43b5ee7085e # v1.283.0
        with:
          bundler-cache: true
      - name: Build Jekyll
        run: bundle exec jekyll build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
        if: github.ref == 'refs/heads/develop'
        with:
          github_token: ${{ secrets.SHARED_BOT_GITHUB_TOKEN }}
          publish_dir: ./_site
          publish_branch: master
#      - uses: jeffreytse/jekyll-deploy-action@v0.5.1
#        with:
#          provider: 'github'
#          token: ${{ secrets.SHARED_BOT_GITHUB_TOKEN }} # rss-to-twitter require PAT for page_build event
#          branch: 'master'          # Default is gh-pages for github provider
#          jekyll_src: './'           # Default is root directory
#          jekyll_cfg: '_config.yml'  # Default is _config.yml
#          jekyll_baseurl: ''         # Default is according to _config.yml
#          bundler_ver: '~>2.4.0'         # Default is latest bundler version
#          cname: 'jser.info'         # Default is to not use a cname
