# Source: https://github.com/jser/mastofeedbot
name: rss-to-mastodon
on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:
jobs:
  realtime:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Generate cache key
        uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6.4.1
        id: generate-key
        with:
          script: |
            core.setOutput('cache-key', new Date().valueOf())

      - name: Retrieve cache
        uses: actions/cache@6f8efc29b200d32929f49075959781ed54ec270c # v3.5.0
        with:
          path: ${{ github.workspace }}/mastofeedbot
          key: feed-cache-realtime-jser-info-${{ steps.generate-key.outputs.cache-key }}
          restore-keys: feed-cache-realtime-jser-info-

      - name: JSer.info
        uses: 'jser/mastofeedbot@0e1dbc3e480b4a35d5a01dd539f2341f5b785afd' # main
        with:
          rss-feed: https://realtime.jser.info/feed.xml
          api-endpoint: https://mstdn.jp
          api-token: ${{ secrets.JSER_MASTODON_TOKEN }}
          cache-file: ${{ github.workspace }}/mastofeedbot/cache.json
          status-template: "{{title}}\n{{link}}\n\n{{description}}"

  jser:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Generate cache key
        uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6.4.1
        id: generate-key
        with:
          script: |
            core.setOutput('cache-key', new Date().valueOf())

      - name: Retrieve cache
        uses: actions/cache@6f8efc29b200d32929f49075959781ed54ec270c # v3.5.0
        with:
          path: ${{ github.workspace }}/mastofeedbot
          key: feed-cache-jser-info-${{ steps.generate-key.outputs.cache-key }}
          restore-keys: feed-cache-jser-info-

      - name: JSer.info
        uses: 'jser/mastofeedbot@0e1dbc3e480b4a35d5a01dd539f2341f5b785afd' # main
        with:
          rss-feed: https://jser.info/rss/
          api-endpoint: https://mstdn.jp
          api-token: ${{ secrets.JSER_MASTODON_TOKEN }}
          cache-file: ${{ github.workspace }}/mastofeedbot/cache.json
          status-template: "今週のJSer.infoを更新しました！\n{{title}}\n{{link}}"
